.btcl_bet{
    width: 100%;
    height: 90px;
    border-radius: 5px;
    background-color: #0264fb;
    padding-left: 40px;
    padding-right: 80px;
    @include flexbox();
    @include flex-direction(column);
    position: relative;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
    .btcl_type{

    }
    .btcl_team_name{
        
    }

}