$closeIconSize: 20px;

.btcl_close{
    width: $closeIconSize;
    height: $closeIconSize;
    text-align: center;
    line-height: $closeIconSize;
    display: block;
    position: absolute;
    right: 15px;
    top:  15px;
    cursor: pointer;

}

.btcl_btn{
    appearance: none;
    -webkit-appearance: none;
    width: auto;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border:0;
    font-size: 18px;
    cursor: pointer;
    &.btcl_btn_bet{
        height: 40px;
        width: 90px;
        font-size: 18px;
        text-transform: uppercase;
    }
}