.btcl_chat {
  position: fixed;
  bottom: 0;
  right: 0;

  .btcl_chat_head {
    width: 157px;
    height: 133px;
    background-image: url(../../assets/images/chat/1.png);
    background-size: 100%;
    
  }
  .btcl_chat_content {
    width: 394px;
    height: 518px;
    border-radius: 15px 15px 0 15px;
    background: #fff;
    position: absolute;
    bottom: 0;
    transform: translateX(-100%);
    overflow: hidden;
    .btcl_chat_messages {
      padding: 24px;
      overflow-y: auto;
      height: calc(100% - 63px);
    }
    .btcl_chat_message {
      width: 294px;
      padding: 13px;
      margin-bottom: 33px;
      &:last-child{
        margin-bottom: 0;
      }
      &.btcl_chat_message_incoming {
        background-color: #4890ff;
        color: #fff;
        margin-left: auto;
        border-radius: 15px 15px 0 15px;
      }
      &.btcl_chat_message_outgoing {
        background-color: #d8d8d8;
        color: #000;
        margin-right: auto;
        border-radius: 15px 15px 15px 0;
      }
    }
  }
  .btcl_chat_header {
    width: 100%;
    height: 63px;
    line-height: 63px;
    text-align: center;
    background-color: #9b9b9b;
    position: relative;
    .btcl_close{
      color:#fff;
      font-size: 25px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
