.btcl_footer {
  width: 100%;

  padding-top: 24px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-top: 2px solid;

  @include flexbox();
  .btcl_logo {
    width: 60px;
    height: 60px;
    background-image: url("../../assets/images/logo_header.png");
    margin-right: 100px;
    background-size: 100%;
  }
  .btcl_footer_link {
    font-size: 22px;
    text-transform: capitalize;
    text-decoration: none;
    margin-bottom: 25px;
    display: block;
  }
  .btcl_footer_copy {
    font-size: 22px;
    text-transform: capitalize;
    text-decoration: none;
  }
  .btcl_footer_copy_wrapper {
    flex-grow: 1;
    @include flexbox();
    @include justify-content(flex-end);
    @include align-self(flex-end);
  }
}
