.btcl_header{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid;
    padding: 0 15px;
    @include flexbox();
    @include align-items(center);
    .btcl_logo{
        width: 80px;
        height: 80px;
        background-image: url('../../assets/images/logo_header.png');
        background-size: 100%;
    }
    .btcl_header_btn_wrapper{
        @include flexbox();
        @include align-items(center);
        @include justify-content(flex-end);
        flex-grow: 1;
        min-width: 1px;

    }

}