.btcl_input_wrapper{
    width: 100%;
    height: 40px;
    .btcl_input{
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border:0;
        outline: 0;
        border-radius: 5px;
        padding: 0 12px;
        height: 40px;
        width: 100%;
    }
    &.btcl_input_bet{
        width: 120px;
        height: 40px;
        .btcl_input{
            border:2px solid;
        }
    }
}