$oddWidth: 82px;
$oddSpace: 10px;
$oddBreathingRoom: 10px;
$header_height: 90px;


@import './reset.scss';
@import './flex.scss';

@import './layout.scss';
@import './header.scss';
@import './input.scss';
@import './buttons.scss';

@import './sidebarItem.scss';
@import './bet.scss';
@import './odd.scss';
@import './offer.scss';
@import './popups.scss';


@import './tabItem.scss';

@import './game.scss';
@import './gameMini.scss';
@import './chat.scss';



@import './footer.scss';


@import './skinning.scss';


