
$mainbg: #151516;
$widgetbg: #1f2022;
$grey: #4a4a4a;
$text: #fff;
$textGrey: #9b9b9b;
$brand: #0264fb;
$akcent: #a9aca6;


body{
    background-color: $mainbg;
}
.btcl_main_wrapper{
    background-color: $mainbg;
}

.btcl_header{
    background-color: $mainbg;
    border-color: $grey;
}

.btcl_game{
    background-color: $widgetbg;
    color: $text;
}
.btcl_odd{
    background-color: $brand;
    color: $widgetbg;
}

.btcl_sidebar_item {
    background-color: $widgetbg;
    color: $textGrey;
}

.btcl_separator{
    background-color: $grey;
}
.btcl_comment{
    background-color: $grey;
    color: $widgetbg;
}
