$themes: (
  dark: (
    mainbg: #151516,
    widgetbg: #1f2022,
    grey: #4a4a4a,
    text: #fff,
    textGrey: #9b9b9b,
    brand: #0264fb,
    akcent: #a9aca6,
    btn_bet_bg: #fff,
    gold: #dda42f,
    sidebar2: #3a3b3c,
  ),
  light: (
    mainbg: #dedede,
    widgetbg: #fff,
    grey: #4a4a4a,
    text: #000,
    textGrey: #111111,
    brand: #0264fb,
    akcent: #a9aca6,
    btn_bet_bg: #fff,
    gold: #dda42f,
    sidebar2: #fff,
  )
);

@mixin theme($themes: $themes) {
  @each $theme, $types in $themes {
    .theme-#{$theme} & {
      $theme: map-get($themes, $theme) !global;
      @content;
    }
  }  
}

@function theme-get($name) {
  @return map-get($theme, $name);
}


$mainbg: #151516;
$widgetbg: #1f2022;
$grey: #4a4a4a;
$text: #fff;
$textGrey: #9b9b9b;
$brand: #0264fb;
$akcent: #a9aca6;
$btn_bet_bg: #fff;
$gold: #dda42f;
$sidebar2: #3a3b3c;

body {
  @include theme() {
    background-color: theme-get(mainbg);
  }
  
}
.btcl_main_wrapper {
  @include theme() {
    background-color: theme-get(mainbg);
  }
}

.btcl_header {
  @include theme() {
    background-color: theme-get(mainbg);
    color: theme-get(grey);
  }
}

.btcl_game,
.btcl_game_mini {
  @include theme() {
    background-color: theme-get(widgetbg);
    color: theme-get(text);
  }
}
.btcl_right_menu_items_wrapper{
  @include theme() {
    background-color: theme-get(widgetbg);
  }
}
.btcl_odd {
  @include theme() {
    background-color: theme-get(brand);
    color: theme-get(widgetbg);
  }
}

.btcl_sidebar_item {
  @include theme() {
  background-color: theme-get(widgetbg);
  color: theme-get(textGrey);
  }
  &.btcl_sidebar_item_2{
    @include theme() {
      background-color: theme-get(sidebar2);
      color: theme-get(textGrey);
    }
  }
}

.btcl_separator {
  @include theme() {
    background-color: theme-get(grey);
  }
}
.btcl_separator_akcent {
  @include theme() {
    background-color: theme-get(brand);
  }
}
.btcl_comment {
  @include theme() {
    background-color: theme-get(grey);
    color: theme-get(widgetbg);
  }
}
.btcl_game_footer {
  @include theme() {
    color: theme-get(textGrey);
  }
}
.btcl_game_mini {
  .btcl_winner {
    @include theme() {
      color: theme-get(textGrey);
    }
  }
  .btcl_percentage {
    @include theme() {
      color: theme-get(brand);
    }
  }
  .btcl_factor {
    @include theme() {
      background-color: theme-get(brand);
      color: theme-get(widgetbg);
    }
  }
}

//inputs
.btcl_input_wrapper {
  &.btcl_input_bet {
    .btcl_input {
      background-color: transparent;
      @include theme() {
        color: theme-get(text);
        border-color: theme-get(text);
      }
      &::placeholder {
        @include theme() {
          color: theme-get(text);
        }
      }
    }
  }
  &.btcl_input_offer {
    .btcl_input {
      background-color: transparent;
      @include theme() {
        color: theme-get(textGrey);
        border-color: theme-get(textGrey);
      }
      &::placeholder {
        @include theme() {
          color: theme-get(textGrey);
        }
      }
    }
  }
  &.btcl_input_popup{
    .btcl_input{
      background-color: transparent;
      @include theme() {
        color: theme-get(textGrey);
        border-color: theme-get(textGrey);
      }
    }
}
}

//buttons
.btcl_btn {
  &.btcl_btn_bet {
    @include theme() {
      background-color: theme-get(btn_bet_bg);
      color: theme-get(brand);
    }
  }
  &.btn_header {
    background-color: transparent;
    @include theme() {
      color: theme-get(textGrey);
    }
  }
  &.btn_sign_up {
    background-color: transparent;
    @include theme() {
      color: theme-get(brand);
    }
  }
  &.btn_popup_main  {
    @include theme() {
      background-color: theme-get(brand);
      color: theme-get(btn_bet_bg);
    }
  }
}

//tab
.btcl_tabs_wrapper {
  @include theme() {
    background-color: theme-get(widgetbg);
  }
}
.btcl_tab_item {
  @include theme() {
    color: theme-get(textGrey);
  }
  &.btcl_tab_item_active {
    @include theme() {
      color: theme-get(brand);
    }
  }
}
//offer

.btcl_offer {
  @include theme() {
    background-color: theme-get(widgetbg);
    color: theme-get(text);
  }
  .btcl_price {
    @include theme() {
      color: theme-get(textGrey);
    }
  }
  .btcl_payout {
    @include theme() {
      color: theme-get(gold);
    }
  }
}


.btcl_footer {
  @include theme() {
    border-color: theme-get(grey);
  }
  .btcl_footer_link,
  .btcl_footer_copy {
    @include theme() {
      color: theme-get(grey);
    }
  }
}

//popups
.btcl_popup_wrapper{
  background-color: rgba(0,0,0,0.5);
  @include theme() {
    color: theme-get(text);
  }
  .btcl_popup{
    @include theme() {
      background-color: theme-get(widgetbg);
    }
    .btcl_close{
      @include theme() {
        color: theme-get(textGrey);
      }
    }
  }
}

.btcl_popup_wrapper{
  background-color: rgba(0,0,0,0.5);
  .btcl_popup{
    @include theme() {
      background-color: theme-get(widgetbg);
    }
    .btcl_popup_heading{
      @include theme() {
        color: theme-get(brand);
      }
    }
    .btcl_popup_link{
      @include theme() {
        color: theme-get(brand);
      }
      text-decoration: none;
    }
  }
}
.btcl_popup_form_grp{
  >label{
    @include theme() {
      color: theme-get(textGrey);
    }
  }
  
}

//scrollbar
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  @include theme() {
    background: theme-get(grey);
  }
  border-radius: 5px;
}
